section {
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

h1,
h2 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    color: #1f2937;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    text-align: left;
}

h2 {
    color: #666666;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
    font-style: italic;
}